<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-md px-4 md:px-8">
    <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6">アニメの感想を言うオリジナルサービス</h1>

    <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
      このサービスは鑑賞したアニメの感想やレビュー、点数をつけて投稿するサービスです。アニメに興味がある人、どのアニメがおもしろいか分からない人の
      少しでも参考になればいいと思っています。
    </p>

    
  </div>

</div>

