<div class="lg:py-12 bg-cover bg-center min-h-screen" style="background-image: url(<%= asset_path('top.jpg') %>)" >
  <div class="mx-auto max-w-screen-md px-4 md:px-8">
    <h1 class="mb-4 text-center text-2xl font-bold text-gray-100 sm:text-3xl md:mb-6">アニメレビュー投稿サービス</h1>
    <p class="mb-6 sm:text-lg md:mb-8 font-bold text-gray-100">
      このサービスは鑑賞したアニメの感想やレビュー投稿するサービスです。アニメに興味がある人、どのアニメがおもしろいか分からない人の
      参考になればいいと思っています。</p> 
  </div>

</div>

