<div class="lg:py-12 bg-cover bg-center min-h-screen" style="background-image: url(<%= asset_path('top.jpg') %>)" >
  <div class="mx-auto max-w-screen-md px-4 md:px-8">
    <h1 class="mb-10 text-center text-4xl font-bold text-gray-100">アニログという名の<br>アニメレビュー投稿サービス</h1>
    <p class="sm:text-lg font-bold text-gray-100 text-center">
      このサービスは鑑賞したアニメの感想を投稿するサービスです。<br>
      アニメに興味がある人、どのアニメがおもしろいか分からない人は、<br>
      是非みんなの投稿を参考にしてみて下さい。</p>
      
  </div>

</div>

