<div class="lg:py-12 bg-cover bg-center min-h-screen" style="background-image: url(<%= asset_path('top.jpg') %>)" >
  <div class="mx-auto max-w-screen-md px-4 md:px-8">
    <h1 class="mb-4 text-center text-2xl font-bold text-gray-100 sm:text-3xl md:mb-6">アニメの感想を言うオリジナルサービス</h1>
    <p class="mb-6 sm:text-lg md:mb-8 font-bold text-gray-100">
      このサービスは鑑賞したアニメの感想やレビュー、点数をつけて投稿するサービスです。アニメに興味がある人、どのアニメがおもしろいか分からない人の
      少しでも参考になればいいと思っています。</p>
    <p class="mb-6 sm:text-lg md:mb-8 font-bold text-gray-100">
      サブスクが当たり前な世の中、男女問わずアニメに興味がある人が増えてきています。私自身もアニメが好きな人間の1人です。よくおすすめを聞いたり聞かれたりします。
      時間は有限です。ならばたくさんのアニメの中でよりよい作品に観賞時間を使って欲しいと思い、点数や感想、ジャンルを参考に検索できるサービスを考えました。
      また、アニメが好きな人達の交流の場になれば良いなと思います。
    </p>
    
  </div>

</div>

