<div class="row w-screen flex justify-center items-center">
  <div class="col-lg-8 offset-lg-2">
    <table id="js-table-comment" class="table my-10">
      <%= render comments %>
    </table>
  </div>
</div>