<div class="navbar bg-base-100 bg-neutral text-neutral-content">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl"><%= link_to ' アニメレビュー', root_path %></a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a><%= link_to (t 'defaults.login'), login_path %></a></li>
      <li><a><%= link_to (t 'defaults.sign_up'), new_user_path %></a></li>
    </ul>
  </div>
</div>
