<footer class="footer footer-center p-6 bg-neutral text-neutral-content">
  <div class="grid grid-flow-col gap-4 ">
    <%= link_to '利用規約', "#" %>
    <%= link_to 'プライバシーポリシー', "#" %>
    <%= link_to 'お問い合せ', '#' %>
  </div>
  <div>
    <p class="text-primary-content">Copyright © 2023 - All right reserved by animation Ltd</p>
  </div>
</footer>