<ul class="crud-menu-btn list-inline float-right flex">
  <li class="list-inline-item">
    <button class="btn btn-sm"><%= link_to "編集", edit_post_path(post), id: "button-edit-#{post.id}"%></button>
  </li>
  <li class="list-inline-item ml-2">
    <button class="btn btn-sm"><%= link_to "削除", post_path(post), id: "button-delete-#{post.id}", data: {turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm')} %></button>
  </li>
</ul>
