<% content_for(:title, t('.title')) %>
<div class="min-h-screen bg-gray-400  text-black pt-10">
  <h1 class="text-4xl font-bold flex justify-center"><%= t '.title' %></h1>
  <!-- 掲示板一覧 -->
  <div class="flex justify-center pt-4">
    <div class="col-12">   
      <% if @bookmark_posts.present? %>
        <div class="grid grid-cols-4 gap-4">
          <%= render @bookmark_posts %>
        </div>
      <% else %>
        <div class="flex justify-center pt-20 font-bold">
          <p><%= t('.no_result') %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row w-screen flex justify-center items-center">
    <%= paginate @bookmark_posts %>
  </div>
</div>