<div class="container">
  <div class="row w-screen flex justify-center items-center">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-5xl font-bold my-16"><%= t '.title' %></h1>
      <%= render 'form', { post: @post } %>
    </div>
  </div>
</div>