<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row w-screen flex justify-center items-center bg-gray-400 text-black">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-4xl font-bold my-14 flex justify-center"><%= t '.title' %></h1>
      <%= render 'form', { post: @post } %>
    </div>
  </div>
</div>