<% content_for(:title, t('.title')) %>
<div class="pt-8 min-h-screen bg-gray-400">
  <!-- 掲示板一覧 -->
  <div class="row w-screen flex justify-center">
    <div class="col-12">
      <h1 class="text-4xl font-bold flex justify-center pt-4"><%= t('.title') %></h1>
      <% if @posts.present? %>
        <div class="grid grid-cols-4 gap-4">
          <%= render @posts %>
        </div>  
      <% else %>
        <div class="flex justify-center pt-20 font-bold">
          <p><%= t('.no_result') %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row w-screen flex justify-center items-center">
    <%= paginate @posts %>
  </div>
</div>